<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Vue 6</title>
    <link rel="stylesheet" href="main.css">
    
</head>
<body>
    <div class="main">
        
        <div id="app">
            <h1>Duotone Generator</h1>
                
                    <div class="image-container">
                        <img :src="image" alt="">
                        <div class="content" id="content" :style="{backgroundColor: (hex ||'000')}"></div>
                    </div>
                
                <div class="app-container">
                <div class="buttons">
                    <button @click="removeImage" v-if="image"><img src="delete.svg" alt="Delete photo"></button>
                    <a :href="image" v-if="image" download><img src="save.svg" alt="Save"></a>
                </div>
                <div class="main-menu">
                    <div class="main-menu-buttons main-menu-buttons-picker">
                        <input type="color" v-model="hex" value="#ccc" id="inputcolor" />
                        <h3>Pick color</h3>
                    </div>
                    <div class="main-menu-buttons">
                        <input type="file" @change="onFileChange" value="image" id="inputfile" />
                        <label for="inputfile"><img src="add_photo.svg" alt="Add photo"></label>
                        <h3>Add photo</h3>
                    </div>
                </div>
            </div>
    
                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    
    

    <script>
       
  
        new Vue({
            el: "#app",
            data: {
             image: "",
             hex: ""
            },

            methods: {
               onFileChange(e) {
                   var files = e.target.files || e.dataTransfer.files;
                   if(!files.length) 
                       return;
                    this.createImage(files[0]);
                  
               },
               createImage(file) {
                   var image = new Image();
                   var reader = new FileReader();
                   var vm = this;

                   reader.onload = (e) => {
                       vm.image = e.target.result;
               };
               reader.readAsDataURL(file);
               },
               removeImage: function (e) {
                this.image = "";
               }
      
            }      
        })
        
    </script>
</body>
</html>