* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-size: cover;
            height: 100vh;
            font-family: sans-serif;
            background-image: linear-gradient(to top right, #c4676f, #e6bfb9);
            color: #52393a;
        }
        .main {
            width: 100%;
        }
        #app {
            display: flex;
            flex-direction: column;
            width: 375px;
            height: 667px;
            margin: auto;
            margin-top: 10%;
            box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            padding: 5%;
        }
        .container {
            position: relative;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -20%);
            width: 40%;
            text-align: center;
            background: #fff;
            border-radius: 15%;
        }
        
        .content {
            position: absolute;
            width: 100%;
            height: 300px;
            top: 0;
            mix-blend-mode: hue;
            border-radius: 15%;
        }
        .container img {
            width: 100%;
            height: 300px;
            border: none;
            border-radius: 15%;
        }
        
        .container .color-picker {
            margin-top: 10px
        }
        h1 {
            text-align: center;
        }
        
       
        a {
            width: 100%;
            background-color: lightgray;
            text-decoration: none;
            text-align: center;
            color: black; 
        }
        input, a, button, h1{
            border-radius: 10px;
            border: none;
            padding: 2%;
            margin-bottom: 5%;
            
        }
        input[type="color"],
        a, 
        button {
            background-color: #52393a;
            
        }
        input, a, button {
            cursor: pointer;
            color: white;
            font-size: 1rem;
            font-weight: 400;
        }
        a:hover, button:hover {
            background-color: white;
            color: #52393a;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
        }
        a, button {
            width: 40%;
        }
        input[type="color"] {
            height: 100px;
            width: 100%;
            border: none;
            background-color: transparent;
            padding: 0;
            border-radius: 10px;
          
        }
        #inputcolor {
            border-radius: 100%;
            height: 60px;
            width: 60px;
            border: none;
            outline: none;
            -webkit-appearance: none;
        }
        #inputcolor::-webkit-color-swatch-wrapper {
            padding: 0;	
        }
        #inputcolor::-webkit-color-swatch, #inputcolor::-moz-color-swatch {
            border: none;
            border-radius: 100%;
        }

        label {
            cursor: pointer;
        }
        input {
            padding-right: 0;
            padding-left: 0;
        }

        input[type="file"]#inputfile{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            z-index: -1;  
        }

        label[for="inputfile"] {
            font-size: 14px;
            font-weight: 600;
            color: #52393a;
            background-color: white;
            display: inline-block;
            transition: all .5s;
            cursor: pointer;
            padding: 15px 40px !important;
            width: fit-content;
            text-align: center;
            border-radius: 15px;
            box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.2);
        }